   <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Withdrawal History</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                      <th>Amount</th>
                      <th>Wallet Address</th>
                      <th>Wallet Type</th>
                      <th>Date</th>
                      <th>Status</th>
                      <th>Reference</th>                              
                    </tr>
                  </thead>
                  <tbody>
                    {{#each withdrawalHistory}}
                    <tr>
                      <td>${{amount}}</td>
                      <td>{{walletAddress}}</td>
                      <td>{{walletType}}</td>
                      <td>{{generateDate date "LLL"}}</td>
                      <td><span class="tag tag-success">{{status}}</span></td>
                      <td>{{reference}}</td>
                      
                    </tr>
                    {{/each}}
                
               
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>